* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

/* body{
    background-color: rgb(230, 235, 240) !important;
} */

.navbar {
    background-color: #110d11 !important;
}

.navbar-brand-light {
    font-size: 30px !important;
    font-weight: bolder;
    color: whitesmoke;
    text-decoration: none;
}



.navbar-nav .nav-link {
    color: white !important;
    font-size: 20px;
}


.nav-link:hover{
    color: rgb(187, 199, 211) !important;
    
    } 
    
  nav-item, a,.nav-link:active {
      color: rgb(187, 199, 211) !important;
      
    } 

/* .nav-link, a:active {
    color: #050607 !important;
    background-color: yellow !important;
  } */
.mycontainer {
    display: flex;
    margin-top: 60px;
    margin-bottom: 20px;
    justify-content: space-around;
    background-color: rgb(250, 252, 253) !important;
    
}



.container1,
.container2 {
    flex: 1;
    margin-right: 70px;
    margin-left: 150px;
    margin-top: 50px;
}

img {
    width: 100%; 
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    color: black;
    
}


#home {
    position: relative; 
    background-image: url("https://i.postimg.cc/W3gJvMp1/pngtree-childrens-clothing-store-shopping-mall-photography-map-with-map-image-796892.jpg");
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
}

#home h1{
position: relative;
top: 40%;
font-weight: bold;
font-size: 50px;
color:  #262b30;

}

#home h1:hover{
 color: #1d2125;
}

#home .btn{
    padding: 10px;
    width: 110px;
    background-color: #343a40;
    color: white !important;
    position: absolute;
    top: 60%;
    right: 45%;
    
    
}

#home .btn a{
    text-decoration: none;
    color: white !important;
}

#home .btn:hover{
    color: antiquewhite;
    background-color: rgb(36, 36, 39);
}



.heading{
    font-weight: bolder;
    font-family:fantasy;
    letter-spacing: 6px;
    font-size: 70px;
    color:  #343a40;
    position: absolute;
    top: 108%;
    left: 50%;
    transform: translateX(-50%);
}


/* .container1,.container2, .FirstImg, .SecImg, .ThirdImg, .FourthImg{
    min-height: 60vh;
} */
 
.container1{
    display: block;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.hd{
    margin-top: 20px;
    font-weight: 700;
}

.FirstImg,.SecImg,.ThirdImg,.FourthImg{
    min-height: 70vh;
    width: 400px;
}

/* .ThirdImg{
 min-height: 10px;
} */

/* .FourthImg{
    height: 10%;
} */


