*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  /* body{
    background-color: #d88ad8;
  } */

/* navigation */
.navbar {
    background-color: #110d11 !important;
}

a.navbar-brand-light {
    font-size: 30px !important;
    font-weight: bolder;
    color: whitesmoke;
    text-decoration: none;
}

.navbar-toggler{
    background-color: rgb(187, 199, 211); 
}

.navbar-nav .nav-link {
    color: white !important;
    font-size: 20px;
}


.nav-link:hover{
  color: rgb(187, 199, 211) !important;
  
  } 
  
nav-item, a,.nav-link:active {
    color: rgb(187, 199, 211) !important;
    
  } 

  
  .image-container {
    width: 780px;
    height: 200px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 4px 4px 40px 4px rgba(8, 8, 8, 0.1);
    border-bottom: 2px  solid rgb(187, 183, 183);
    display: flex;
    flex-direction: column;
  }

  
  .item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
  }

  .item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }

  .cardFooter {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
    display: flex;
  }
  
  
  .del_item{
    display: inline-block;
    Cursor: pointer;
    width: 43px;
    height: 17px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
  }

  .img {
    width: 110px;
    height: 110px;
    margin-right: 50px;
  }

  .title {
    padding-top: 10px;
    margin-right: 60px;
    width: 190px;
    display: block;
    font-size: 18px;
    font-weight: 700;
  }

  .quantity{
    padding: 10px;
  }
   
  .incr_item{
    border: 1px solid #abb5bd;
    height: 27px;
    /* margin-right: 12px; */
    margin-top: 10px;
    /* box-shadow: rgba(1, 27, 43, 0.35) 0px 3px 3px; */
    cursor: pointer;
    
}

.decr_item{
    margin-left: 18px;
    border: 1px solid #abb5bd;
    height: 27px;
    margin-top: 10px;
    /* box-shadow: rgba(1, 27, 43, 0.35) 0px 3px 3px; */
    cursor: pointer;
}

  
  .price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 18px;
    color: red;
    font-weight: 300;
    margin-top: 10px;
    
  }


  @media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .image img {
      width: 50%;
    }
    .image,
    .quantity,
    .title {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
    .buttons {
      margin-right: 20px;
    }
  }
/* .image-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
}


  .title{
    display: flex;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-left: 50px;
    
    
}


.price{
    color: red; 
    margin-top: 40px;
    margin-left: 40px;
    font-weight:600;
    border: 1px solid;
  }


.cardBody{
    border-top: 1px solid #abb5bd;
    border-bottom: 1px solid #abb5bd;
    width: 50%;
}

.del_item{
    margin-top: 50px;
    cursor: pointer;
    
}

.incr_item{
    border: 1px solid #abb5bd;
    padding: 4px;
    margin-right: 12px;
    box-shadow: rgba(1, 27, 43, 0.35) 0px 3px 3px;
    cursor: pointer;
    
}

.decr_item{
    margin-left: 18px;
    border: 1px solid #abb5bd;
    padding: 4px;
    box-shadow: rgba(1, 27, 43, 0.35) 0px 3px 3px;
    cursor: pointer;
}

.incr_item:hover{
    background-color: #abb5bd;
}

.decr_item:hover{
    background-color: #abb5bd;
}


.quantity{
    border: 1px solid #abb5bd;
    margin: 6px;
    padding: 4px;
    box-shadow: rgba(1, 27, 43, 0.35) 0px 3px 3px;
    
}

.cardFooter{
    border-top: 1px solid #abb5bd;
    
}


  .tot {
    font-weight: bold;
    color: red;
  }
  
  img {
    width: 140px;
    height: 140px;
    margin-left: 60px;
  } */

  h2{
    text-align: center;
    font-weight: bold;
  }

   
