*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* navigation */
.navbar {
    background-color: #110d11 !important;
}

a.navbar-brand-light {
    font-size: 30px !important;
    font-weight: bolder;
    color: whitesmoke;
    text-decoration: none;
}

.navbar-toggler{
    background-color: rgb(187, 199, 211); 
}

.navbar-nav .nav-link {
    color: white !important;
    font-size: 20px;
}


.nav-link:hover{
  color: rgb(187, 199, 211) !important;
  
  } 
  
nav-item, a,.nav-link:active {
    color: rgb(187, 199, 211) !important;
    
  } 
/*Navigation ends*/
/* .cart {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ddd;
  }
  
  .cart-title {
    font-size: 1.2em;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
  }
  
  .items {
    border-top: 1px solid #ddd;
  }
  
  .items .image-container {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .items .image-container:last-child {
    border-bottom: 1px solid;
  } */
  
.image-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
}


  .title{
    display: flex;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 60px;
    
}


.price{
    color: red; 
    margin-top: 40px;
    margin-left: 40px;
  }
.desc{
  margin-top: 20px;
  }

.cardBody{
    border: 1px solid #abb5bd;
    width: 30%;
    /* box-shadow: rgba(1, 27, 43, 0.35) 0px 4px 4px; */
}

.del_item{
    margin-left: 40px;
    
}

.incr_item{
    border: 1px solid #abb5bd;
    padding: 4px;
    margin-right: 12px;
    box-shadow: rgba(1, 27, 43, 0.35) 0px 3px 3px;
    
}

.decr_item{
    margin-left: 18px;
    border: 1px solid #abb5bd;
    padding: 4px;
    box-shadow: rgba(1, 27, 43, 0.35) 0px 3px 3px;
}

.quantity{
    border: 1px solid #abb5bd;
    margin: 6px;
    padding: 4px;
    box-shadow: rgba(1, 27, 43, 0.35) 0px 3px 3px;
    
}

.cardFooter{
    border: 1px solid #abb5bd;
    box-shadow: rgba(1, 27, 43, 0.35) 0px 3px 3px;
}


  .tot {
    font-weight: bold;
    color: red;
  }
  
  img {
    width: 200px;
    height: 200px;
    margin-left: 60px;
    border: 1px solid #abb5bd;
    border-right: none;
    box-shadow: rgba(1, 27, 43, 0.35) 0px 3px 3px;
  }

  h2{
    text-align: center;
    font-weight: bold;
  }

   
